<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<header class="header_container">
    <div>
        <a href="{{ url_for('home') }}"><img src="../static/images/van.png" id="header-icon"></a>
    </div >
    <div id="button_header_middle">
        <div>
            <a href="{{ url_for('about') }}"><button class="button_header">About</button></a>
        </div>
        <div>
            <a href="{{ url_for('contact') }}"><button class="button_header">Kontakt</button></a>
        </div>
        <div>
            <a href="{{ url_for('learn_more') }}"></a>
        </div>
    </div>
    <div>
    </div>
</header>
