<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap" rel="stylesheet">



</head>
<body>
<header>
    <div>
        <a href="{{ url_for('home') }}"><img src="../static/images/van.png" id="header-icon"></a>
    </div >
    <div id="button_header_middle">
        <div>
            <a href="{{ url_for('about') }}"><button class="button_header">About</button></a>
        </div>
        <div>
            <a href="{{ url_for('contact') }}"><button class="button_header">Kontakt</button></a>
        </div>
        <div>
            <a href="{{ url_for('learn_more') }}"><button class="button_header">Learn More</button></a>
        </div>
    </div>
    <div>
    </div>
</header>
