<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="header-icon">
        <a href="{{ url_for('home') }}"><img src="../static/assets/van.png" id="header-icon"></a>
    </div >
    <div id="button_header_middle">
        <div>
            <a href="{{ url_for('about') }}"><button class="button_header">About</button></a>
        </div>
        <div>
            <a href="{{ url_for('contact') }}"><button class="button_header">Contact</button></a>
        </div>
        <div>
            <a href="{{ url_for('learn_more') }}"><button class="button_header">Learn More</button></a>
        </div>
    </div>
    <div>
        {% if not current_user.is_authenticated %}
        <div>
            <a href="{{ url_for('admin_login') }}"><button class="button_header" style="padding-left:10px">Admin Login</button></a>
        </div>
        {% else %}
        <div>
            <a href="{{ url_for('admin_logout') }}"><button class="button_header" style="padding-left:10px">Logout</button></a>
        </div>
        {% endif %}
    </div>

</header>
