{% include "header.html" %}


<div class="content-container">
    <h1>Welcome to the Spots</h1>

    {% for spot in all_spots %}

    <hr>
    <a href="{{url_for('delete_post', spot_id=spot.id) }}">✘</a>
    <a href="{{url_for('edit_spot', spot_id=spot.id)}}">Edit Spot</a>
    <div class="post-preview">
        <p>Title: {{spot.title}}</p>
        <p>Date Start: {{spot.date_start}}</p>
        <p>Date End: {{spot.date_end}}</p>
        <p>Rating: {{spot.rating}}</p>
        <p>Description: {{spot.description}}</p>
        <p>Internet-Rating {{spot.internet_rating}}</p>
        <p>Location: {{spot.location}}</p>

    </div>
    {% endfor %}

    <div>
        <a href="{{ url_for('add_spot') }}"><button class="button_blue">Add Spot</button></a>
    </div>

</div>

{% include "footer.html" %}